{% extends "layouts/question-page.html" %}

{% set pageName="Find your address" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- TODO hook up with the OS api (see .env for details) -->
    <form action="/find-your-address" method="post" novalidate>
      <span class="govuk-caption-l">Create an account - Step 4 of 7</span>
      <h1 class="govuk-heading-xl">Find your address</h1>
      <div class="govuk-form-group">
        <label class="govuk-label" for="postcode">
          Postcode
        </label>
        <div id="postcode-hint" class="govuk-hint">
          For example, AA3 1AB.
        </div>
        <input class="govuk-input govuk-input--width-5" id="postcode" name="postcode" type="text"
          aria-describedby="postcode-hint">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="searchString">
          Building number or name
        </label>
        <div id="searchString-hint" class="govuk-hint">
          For example, 15 or Prospect Cottage.
        </div>
        <input class="govuk-input govuk-input--width-20" id="searchString" name="searchString" type="text"
          aria-describedby="searchString-hint">
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Find address
      </button>
      <p class="govuk-body govuk-!-margin-bottom-0"><a href="what-is-your-address?userID={{ data['userID'] }}" class="govuk-link">Enter address
          manually</a></p>
    </form>
  </div>
</div>
<script type="application/json" id="validation-rules">
  {
    "postcode": {
        "presence": { "allowEmpty": false, "message": "Enter your postcode" }
    },
    "searchString": {
      "presence": { "allowEmpty": false, "message": "Enter your building number or name" }
  }
}
</script>

{% endblock %}