{% extends "layouts/question-page.html" %}

{% set pageName="How would you like to be contacted?" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="/how-would-you-like-to-be-contacted" method="post" novalidate>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            How would you like to be contacted?
                        </h1>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <!-- Create a list of our radio options, loop through them and check if they match the users' contact pref -->
                        {% set radios = ["Email", "Phone", "Post" ] %}
                        {% for item in radios %}
                            {% if item == currentUser | return("preferredContactMethod") %}
                            <div class="govuk-radios__item">
                                <input checked class="govuk-radios__input" id="contact-preference-{{ loop.index }}" name="contact-preference"
                                    type="radio" value="{{ item }}">
                                <label class="govuk-label govuk-radios__label" for="contact-preference-{{ loop.index }}">
                                    {{ item }}
                                </label>
                            </div>
                            {% else %}
                            <div class="govuk-radios__item">
                                <input  class="govuk-radios__input" id="contact-preference-{{ loop.index }}" name="contact-preference"
                                    type="radio" value="{{ item }}">
                                <label class="govuk-label govuk-radios__label" for="contact-preference-{{ loop.index }}">
                                    {{ item }}
                                </label>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>

<script type="application/json" id="validation-rules">
    {
      "contact-preference": {
        "presence": { "allowEmpty": false, "message": "Select how you would like to be contacted" }
      }
    }
</script>

{% endblock %}