{% extends "layouts/question-page.html" %}

{% set pageName="What is your name?" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/what-is-your-date-of-birth" method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="date-of-birth-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <span class="govuk-caption-l">Create an account - Step 3 of 7</span>
            <h1 class="govuk-fieldset__heading">
              What is your date of birth?
            </h1>
          </legend>
          <div id="date-of-birth-hint" class="govuk-hint">
            For example, 27 3 2024
          </div>
          <div class="govuk-date-input" id="date-of-birth">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-of-birth-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-of-birth-day"
                  name="date-of-birth-day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-of-birth-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-of-birth-month"
                  name="date-of-birth-month" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-of-birth-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-of-birth-year"
                  name="date-of-birth-year" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

<script type="application/json" id="validation-rules">
  {
    "date-of-birth-day": {
      "presence": { "allowEmpty": false, "message": "Enter the day of your date of birth" }
    },
    "date-of-birth-month": {
      "presence": { "allowEmpty": false, "message": "Enter the month of your date of birth" }
    },
    "date-of-birth-year": {
      "presence": { "allowEmpty": false, "message": "Enter the year of your date of birth" }
    },
    "date-of-birth": {
      "date": {
        "dayField": "date-of-birth-day",
        "monthField": "date-of-birth-month",
        "yearField": "date-of-birth-year",
        "message": "Enter a valid date of birth"
      }
    }
  }
</script>

{% endblock %}