{% extends "layouts/question-page.html" %}

{% set pageName="What is your email address?" %}

{% block content %}

<!-- Save the address into a local variable -->
{% set address = currentUser | return('address') %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/what-is-your-address" method="post" novalidate>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-padding-bottom-4">
          <span class="govuk-caption-l">Create an account - Step 4 of 7</span>
          <h1 class="govuk-fieldset__heading">
            What is your address?
          </h1>
        </legend>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-1">
            Address line 1
          </label>
          <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1" value="{{ address.line1 }}">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-2">
            Address line 2 (optional)
          </label>
          <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2" value="{{ address.line2 }}">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-town">
            Town or city
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text"
            autocomplete="address-level2" value="{{ address.town }}">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-county">
            County (optional)
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text" value="{{ address.county }}">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-postcode">
            Postcode
          </label>
          <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text"
            autocomplete="postal-code" value="{{ address.postcode }}">
        </div>
      </fieldset>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

<script type="application/json" id="validation-rules">
{
  "address-line-1": {
    "presence": { "allowEmpty": false, "message": "Enter address line 1, typically the building and street" }
  },
  "address-town": {
    "presence": { "allowEmpty": false, "message": "Enter town or city" }
  },
  "address-postcode": {
    "presence": { "allowEmpty": false, "message": "Enter postcode" }
  }
}
</script>

{% endblock %}