{% extends "layouts/question-page.html" %}

{% set pageName="View session data" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            View session data
        </h1>
        <p class="govuk-body">This page shows the data stored in the session. The default values are defined in the
            /app/data/ folder.</p>
        <p class="govuk-body">When data is submitted by the form, the new or updated values can be seen here. To clear any
            of these submitted values, <a class="govuk-link" href="/manage-prototype/clear-data">
                Clear session data
            </a></p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">User data</h2>
        <andypf-json-viewer data='{{ data["users"] | dump }}' theme="monokai" expanded="true" show-data-types="false"
            show-toolbar="true"></andypf-json-viewer>
        <br>
        <h2 class="govuk-heading-m">Pigeon data</h2>
        <andypf-json-viewer data='{{ data["pigeons"] | dump }}' theme="monokai" expanded="true" show-data-types="false"
            show-toolbar="true"></andypf-json-viewer>
        <!-- See https://www.npmjs.com/package/@andypf/json-viewer for documentation on this JSON viewer -->
    </div>
</div>

{% endblock %}