{% extends "layouts/main.html" %}

{% set pageName="Apply for a pigeon passport" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            View session data
        </h1>
        <h2 class="govuk-heading-m">User data</h2>
        {{ data["users"] | dump(2) }}
        
        <br>

        <h2 class="govuk-heading-m">Pigeon data</h2>
        {{ data["birds"] | dump(2) }} 
    </div>
</div>

{% endblock %}