{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
<script>
  const sessionData = {{ data | dump | safe }}
</script>
<script src="https://pfau-software.de/json-viewer/dist/iife/index.js"></script>
{% endblock %}

{% block beforeContent %}
<a href="#" class="govuk-back-link" onclick="history.back(); return false;">Back</a>
{% endblock %}

<!-- Import my macros and set currentUser variable -->
{% import "/macros/components.njk" as components %}
{% set currentUser = components.getCurrentUser(data) %}
